body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

html, body {
  min-width: 1200px;
  height: 100%;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 10px 41px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border-radius: 3px;
  background-color: #ee3643;
  border: none;
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #ee3643;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header styles */

.main-navigator {
  font-size: 17px;
  line-height: 18px;
  color: #ee3643;

  background-color: #f3f7f8;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  /* Временно для сетки */                       /* !!!! */
  /*min-height: 320px;                            !* !!!! *!*/
}

.main-navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.header-coloring {
  width: 100%;
  margin-bottom: 46px;

  background-color: #293449;
}

.header-coloring:hover {
  background-color: #212a3a;
}

.main-header-logo {
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  width: 220px;
  padding-top: 10px;
  padding-bottom: 8px;

  font-size: 24px;
  line-height: 24px;

  background-color: #ee3643;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
  box-shadow:  0 5px 0 0 #b52933;
}

.main-header-logo:hover,
.main-header-logo:focus {
  background-color: #ca2c37;
  -webkit-box-shadow: 0 5px 0 0 #9a212a;
  box-shadow: 0 5px 0 0 #9a212a;
}

.main-header-logo:active {
  background-color: #ba2732;
  -webkit-box-shadow: 0 5px 0 0 #8e1e26;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.search-form label {
  padding-left: 49px;
}

.search-image {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 18px;
  height: 20px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.search-image:hover {
  opacity: 1;
}

.search-form {
  position: relative;
  width: 270px;
}

.search-form input[type="search"] {
  padding: 12px 0;
  padding-left: 49px;
  font: inherit;
  width: 100%;
  background-color: transparent;
  border: none;
}

.search-form input[type="search"]:focus,
.search-form input[type="search"]:active {
  color: #000000;

  background-color: #ffffff;
}

.search-form input[type="search"]:focus + .search-image,
.search-form input[type="search"]:active + .search-image {
  background-image: url("../img/icon-search-active.svg");
  opacity: 1;
}

.header-search::-webkit-input-placeholder {
  color: #ffffff;
}
.header-search::-moz-placeholder {
  color: #ffffff;
}
.header-search:-ms-input-placeholder {
  color: #ffffff;
}
.header-search:-moz-placeholder {
  color: #ffffff;
}

.header-navigation {
  color: #ffffff;
}

.header-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 450px;
  min-height: 42px;

  margin: 0;
  padding: 0;
}

.header-navigation-list a {
  display: block;
  max-width: 150px;
  padding: 12px 20px;
}

.header-chekout {
  color: #ffffff;
  background-color: #63a63e;
}

.header-chekout:hover,
.header-chekout:focus {
  background-color: #5fbb2d;
}

.header-chekout:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.header-navigation-list .header-marks {
  position: relative;
  padding: 12px 27px;
  padding-left: 44px;
}

.header-navigation-list .header-cart {
  position: relative;
  padding: 12px 30px;
  padding-left: 50px;
}


.header-marks:active,
.header-cart:not(.cart-full):active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.header-cart::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 19px;

  width: 17px;
  height: 17px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.header-cart:not(.cart-full):hover::before,
.header-cart:not(.cart-full):focus::before {
  opacity: 1;
}

.header-cart:not(.cart-full):active::before {
  opacity: 0.5;
}

.header-marks::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}
.header-marks:hover::before,
.header-marks:focus::before {
  opacity: 1;
}

.header-marks:active::before {
  opacity: 0.5;
}

/* Средняя часть хедера */

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 940px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 39px;
}

.header-slogan {
  width: 200px;
  min-height: 64px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;

  margin: 0;
  padding: 0;
  margin-top: 4px;
  margin-left: 52px;
}

.header-phone-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 68px;
}

.header-phone {
  position: relative;
  width: 270px;
  min-height: 45px;

  font-size: 21px;
  line-height: 21px;

  margin: 0;
  margin-bottom: 4px;
  padding: 10px 45px;
  padding-bottom: 7px;
  padding-left: 70px;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
  border: 3px solid #ffffff;
}

.header-phone::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 12px;

  width: 20px;
  height: 20px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 282px;
  margin: 0;
  padding: 0;
  margin-left: 68px;

  list-style: none;
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.login-link {
  position: relative;
  display: block;
  width: 46px;
  padding: 12px 27px;
  padding-left: 48px;
  margin-right: 10px;
  background-color: #ffffff;
}

.login-icon {
  position: absolute;                         /* На главной opacity 0.3, но в styleguide 1, оставляю как в styleguide*/
  top: 14px;
  left: 14px;
}

.login-icon:hover path {
  fill: #32425c;
}

.login-icon:active path {
  fill: #c5c5c5;
}

.registration-link {
  display: block;
  width: 100px;
  padding: 12px 25px;
  margin-right: 0;
  background-color: #ffffff;
}

/* Нижняя часть хедера */

.navigator-coloring {
  margin-bottom: 60px;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
  background-color: #32425c;
  -webkit-box-shadow: inset 0 -5px 0 0 #293449;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.site-navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;

  margin: 0;
  padding: 0;

  width: 940px;
}

.site-navigator a {
  display: block;
  line-height: 17px;
  padding: 23px 30px;
  padding-top: 20px;

  color: #ffffff;
}

.site-navigator li:first-child a {
  padding-left: 52px;
}

.site-navigator li:last-child a {
  padding-right: 55px;
}

.site-navigator a:hover,
.site-navigator a:focus {
  background-color: #293449;
}

.site-navigator a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #293449;
}

/* Main styles */

/* Features styles */

.content {
  background-color: #ffffff;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.content .features-wrapper {
  margin-bottom: 53px;
}

.features {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 254px;
  padding: 22px 23px;

  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.materials::after {
  content: "";

  position: absolute;
  top: 31px;
  right: 41px;

  width: 46px;
  height: 66px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.instrument::after {
  content: "";

  position: absolute;
  top: 33px;
  right: 28px;

  width: 75px;
  height: 61px;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.equipment::after {
  content: "";

  position: absolute;
  top: 31px;
  right: 31px;

  width: 78px;
  height: 63px;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.discount::after {
  content: "";

  position: absolute;
  top: 26px;
  right: 43px;

  width: 61px;
  height: 73px;

  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.delivery::after {
  content: "";

  position: absolute;
  top: 32px;
  right: 28px;

  width: 81px;
  height: 63px;

  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;

  margin-top: 60px;
  margin-bottom: 20px;
}

.features-name {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;

  margin-bottom: 11px;
}

.new-feature {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  text-indent: -3000px;
  background-image: url("../img/new.png");
  background-repeat: no-repeat;
  z-index: 20;
}

.materials,
.delivery {
  background-color: #ffbf47;
}

.instrument {
  background-color: #3bbce3;
}

.equipment {
  background-color: #dc91d8;
}

.discount {
  background-color: #8ed78f;
}

.features-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.features-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  min-height: 266px;
}

.button-features {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 24px;
  border-radius: 3px;

  background-color: rgba(0, 0, 0, 0.1);
}

.button-features:hover,
.button-features:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-features:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.button-instrument {
  padding: 10px 26px;
}

.button-equipment {
  padding: 10px 30px;
}

.button-discount {
  padding: 10px 23px;
}

.button-delivery {
  padding: 10px 37px;
}

.gallery {
  position: relative;
  width: 620px;
  min-height: 266px;
  margin: 0;
  padding: 0;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.gallery-content,
.gallery-list {
  margin: 0;
  padding: 0;
}

.gallery-content {
  position: relative;
  background-color: #ffffff;
}

.gallery-list {
  list-style: none;
  min-height: 266px;
}

.gallery-item {
  display: none;
  position: absolute;
  min-height: 266px;
  line-height: 0;
}

.gallery-item:nth-child(1) {
  display: block;
}

.gallery-product {
  position: absolute;
  top: 23px;
  left: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.gallery-description {
  font-family: "PT Sans", "Arial Black", sans-serif;  /* На главной видимо опечатка со шрифтом - на 2 слайде и в стайлгайде TP Sans, а там Cuprum */
  position: absolute;
  top: 63px;
  left: 25px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.gallery-item .button {
  position: absolute;
  bottom: 22px;
  left: 25px;
  padding: 10px 48px;
}

.gallery-button {
  cursor: pointer;
  font-size: 0;
  position: absolute;
  width: 22px;
  height: 40px;
  border: none;
  padding: 0;
}

.gallery-button-next {
  top: 114px;
  right: 25px;                                      /* Справа по макету 20px, а слева 25px. Решила сделать одинаково */
  background-image: url("../img/icon-right.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.gallery-button-back {
  top: 114px;
  left: 25px;
  background-image: url("../img/icon-left.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.gallery-controls {
  position: absolute;
  left: 310px;
  bottom: 33px;
  /*z-index: 100;*/

  width: 100px;
  height: 18px;

  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.gallery-controls i {
  position: relative;

  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 5px;

  border-radius: 50%;
  cursor: pointer;
}

.gallery-controls i::after {
  content: "";

  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;

  width: 6px;
  height: 6px;
  padding: 2px;

  background-color: #ffffff;

  border-radius: 50%;
}

.gallery-controls .active::before {
  content: "";

  position: absolute;
  left: 11px;
  top: 11px;
  z-index: 2;

  width: 6px;
  height: 6px;
  margin: -4px;

  background-color: #ee3643;

  border-radius: 50%;
}

/* Популярные товары */

.main-coloring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 894px;

  margin: 0 auto;
  margin-bottom: 20px;
  padding: 26px 23px;

  background-color: #f9f5f0;
}

.popular-products .main-coloring .button {
  padding: 10px 55px;
}

.popular-products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 940px;
  padding: 0;
  margin: 20px auto;
  margin-bottom: 0;
  list-style: none;
}

.caption {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;

  color: #32425c;
}

.popular-products .main-coloring .caption {
  margin: 4px 7px;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.popular-products-item:nth-child(3n) {
  margin-right: 20px;
}

.popular-products-item:nth-child(4n) {
  margin-right: 0;
}

.new {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -3000px;
  background-image: url("../img/new.png");
  background-repeat: no-repeat;
  z-index: 20;
}

.catalog-item-buttons {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 214px;
  height: 88px;
  padding: 40px 0;
  background-color: #ffffff;
  z-index: 10;
}

.catalog-item .catalog-item-buttons {
  display: none;
}

.catalog-item:hover .catalog-item-buttons {
  display: block;
}

.catalog-item:hover,
.catalog-item:focus {
  border-color: #ffffff;
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.main-checkout,
.main-marks {
  display: block;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
}

.checkout {
  color: #ffffff;
  padding: 10px 0;

  background-color: #63a63e;
  -webkit-box-shadow: inset 0 -3px 0 0 #367315;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.checkout:hover,
.checkout:focus {
  background-color: #5fbb2d;
}

.checkout:active {
  background-color: #518534;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.marks {
  color: #32425c;
  padding: 7px 0;

  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #63a63e;
}

.marks:hover,
.marks:focus {
  border: 3px solid #32425c;
}

.marks:active {
  color: rgba(50, 66, 92, 0.3);

  border: 3px solid rgba(50, 66, 92, 0.3);
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item-image {
  margin-bottom: 5px;
}

.catalog-item-title {
  font-family: "PT Sans", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  min-height: 40px;
  padding: 0 25px;
}

.catalog-item-price,
.previous-price {
  font-family: "PT Sans", "Arial Black", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
}

.previous-price {
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 65px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.price-button {
  position: absolute;
  bottom: 20px;
  left: 42px;
  width: 140px;
  height: 38px;
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  z-index: 1;
}

.catalog-item-price {
  position: absolute;
  bottom: 28px;
  left: 78px;
  min-height: 20px;
  color: #ffffff;
  z-index: 2;
  cursor: pointer;
}

/* Популярные производители */

.popular-brands .main-coloring .button {
  padding: 10px 70px;
}

.popular-brands .main-coloring .caption {
  margin: 4px 2px;
}

.popular-brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 940px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 65px;
  list-style: none;
}

.popular-brands-item {
  width: 220px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid #e5e5e5;

  min-height: 145px;
  font-size: 0;
  line-height: 0;
}

.popular-brands-item:nth-child(4n) {
  margin-right: 0;
}

.popular-brands-item a {
  width: 0;
  height: 0;
}

.popular-brands-item:hover,
.popular-brands-item:focus {
  border-color: #ffffff;
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands-item:active {
  opacity: 0.3;
  -webkit-box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

/* Сервисы */

.backdrop {
  width: 100%;
  padding-top: 65px;
  margin-bottom: 80px;                                              /*!!!*/

  min-height: 456px;

  background-color: #f4f8f9;
}

.info {
  color: #000000;
}

.services-list,
.services-list-description {
  list-style: none;
}

.description {
  font-family: "PT Sans", "Arial Black", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.description-caption {
  font-family: "Cuprum", "Arial Black", sans-serif;
  font-size: 36px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.description-caption:first-child {
  line-height: 36px;
}

.services {
  width: 940px;
  margin:0 auto;

  min-height: 456px;
}

.services h2,
.services h3,
.services p {
  margin: 0;
  padding: 0;
}

.services .caption {
  margin-bottom: 25px;
}

.caption + .services-info {
  width: 400px;
  min-height: 42px;
  margin: 0;
  padding: 0;
  margin-bottom: 66px;
}

.services-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.services-list::after {
  position: absolute;
  content: "";
  top: -45px;
  right: 0;
  width: 10px;
  height: 272px;
  background-image: url("../img/service.png");
  background-repeat: no-repeat;
  z-index: 1;
}

.services-list-description {
  margin: 0;
  padding: 0;
  margin-left: 80px;
}

.services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 940px;
  margin: 0 auto;
}

.services-item {
  width: 240px;
  padding: 15.5px 22px;

  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;

  border-top: 1px solid #4d637b;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #32425c;
}

.services-item-current {
  border-color: #ffffff;
  color: #32425c;
  background-color: #ffffff;
}

.services-item:hover,
.services-item:focus {
  background-color: #293449;
}

.services-item-current:hover,
.services-item-current:focus {
  border-color: #ffffff;
  color: #32425c;
  background-color: #ffffff;
}

.services-item:active {
  border-color: #ffffff;
  color: #32425c;

  background-color: #ffffff;
}

.description-text .description-caption {
  margin-bottom: 25px;
}

.description-text .credit-item {
  margin-bottom: 30px;
}

.description-item {
  margin-bottom: 0;
  display: none;
}

.description-item:nth-child(1) {
  display: block;
}

.description-text {
  width: 380px;
  min-height: 190px;
}

.delivery-item {
  width: 277px;
}

.guarantee-item {
  width: 378px;
}

.description-delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 630px;
  min-height: 284px;
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 151px 25px;
}

.description-guarantee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 630px;
  min-height: 284px;
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: 239px 2px;
}

.description-credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 630px;
  min-height: 284px;
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 165px 2px;
}

.credit .button {
  padding: 10px 44px;
}

/* Транспорт, о компании */

.transport-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.transport-item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 35px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.transport-item::before {
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 940px;
  margin-bottom: 87px;
}

.about-us h2,
.about-us p {
  margin: 0;
  padding: 0;
}

.contacts h2,
.contacts p {
  margin: 0;
  padding: 0;
}

.transport .info,
.contacts .info {
  padding-bottom: 26px;
}

.company-info {
  width: 540px;
}

.arrive-info {
  width: 300px;
}

.about-us > .description {
  padding-bottom: 25px;
}

.about-us > .transportation {
  width: 400px;
}

.contacts > .description {
  width: 182px;
  padding-bottom: 30px;
}

.description.transportation {
  padding-bottom: 20px;
}

.transport-item:last-child {
  margin-bottom: 34px;
}

.contacts img {
  padding-bottom: 31px;
}

.contacts .button {
  padding: 10px 61px;
}

/* Footer styles */
/* Верх футера */

.main-footer-logo {
  display: inline-block;
  width: 140px;
  padding: 16.5px 40px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;

  -webkit-box-shadow: 0 5px 0 0 #b52933;
  box-shadow: 0 5px 0 0 #b52933;

  margin-bottom: 33px;
}

.main-footer-logo:hover,
.main-footer-logo:focus {
  background-color: #ee3643;
}

.footer-coloring {
  width: 100%;
  background-color: #32425c;
}

.footer-navigator,
.main-footer-contacts {
  margin: 0;
  padding: 0;
}

.footer-main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.footer-adress-wrapper {
  width: 380px;
  min-height: 193px;
}

.footer-menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 560px;
  min-height: 193px;
}

.footer-navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 547px;
  padding: 36px 0;
  padding-left: 10px;

  list-style: none;
}

.footer-navigator li {
  padding-right: 55px;
}

.footer-navigator li:last-child {
  padding-right: 0;
}

.footer-navigator a {
  color: #ffffff;
}

.footer-navigator a:hover,
.footer-navigator a:focus {
  text-decoration: underline;
}

.footer-navigator a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-features-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 35px;
}

.footer-mainstyle {
  font-size: 18px;
  color: #ffffff;
}

.footer-features a {
  color: #ffd180;
}

.footer-features h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.footer-features {
  padding-right: 55px;
}

.footer-features:last-child {
  padding-right: 0;
}

.footer-features a:hover,
.footer-features a:focus {
  text-decoration: underline;
}

.footer-features a:active {
  text-decoration: none;
  opacity: 0.5;
}

.copyright-coloring {
  width: 100%;
  background-color: #293449;
}

/* Низ футера */

.footer-copyright-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 940px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 33px;
}

.footer-styling {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-social {
  text-align: center;
}

.footer-copyright,
.footer-social-list {
  margin: 0;
  padding: 0;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 131px;
  margin: 0 auto;
  margin-right: 119px;
  padding: 0;

  list-style: none;
}

.footer-copyright {
  width: 230px;
  margin-right: 160px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 41px;
  height: 41px;

  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}

.footer-development {
  margin: 0;
  padding: 0;
}

.footer-development a {
  color: #ffd180;
}

.footer-development a:hover,
.footer-development a:focus {
  text-decoration: underline;
}

.footer-development a:active {
  text-decoration: none;
  color: #ee3643;
}

.footer-writing {
  display: block;
  width: 136px;
  margin-right: 52px;
}

.footer-copy {
  display: block;
  width: 99px;
}

/* Модальные окна на главной */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.modal {
  position: fixed;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.modal-map {
  display: none;
  min-width: 940px;
  min-height: 446px;
  top: 36%;
  left: 50%;

  font-size: 0;
  line-height: 0;
  -webkit-box-shadow: 0 0 14.7px 1.3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 14.7px 1.3px rgba(0, 0, 0, 0.5);
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.modal-write-us {
  display: none;
  width: 620px;

  top: 53%;
  left: 50%;

  padding-top: 44px;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 7px solid #ff5357;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-write-us input::-webkit-input-placeholder {
  color: #a9a9a9;
}
.modal-write-us input::-moz-placeholder {
  color: #a9a9a9;
}
.modal-write-us input:-ms-input-placeholder {
  color: #a9a9a9;
}
.modal-write-us input:-moz-placeholder {
  color: #a9a9a9;
}

.modal-write-us textarea::-webkit-input-placeholder {
  color: #a9a9a9;
}
.modal-write-us textarea::-moz-placeholder {
  color: #a9a9a9;
}
.modal-write-us textarea:-ms-input-placeholder {
  color: #a9a9a9;
}
.modal-write-us textarea:-moz-placeholder {
  color: #a9a9a9;
}

.modal-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-form p {
  margin: 0;
  padding: 0;
}

.login-form label {
  display: block;
  width: 100px;
  padding-bottom: 10px;
  margin-left: 80px;
}

.modal-email label {
  margin-left: 0;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form textarea {
  font-family: "PT Sans", "Arial Black", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: none;
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  padding: 9px 15px;
  padding-right: 0;

  border-radius: 3px;
  border: 2px solid #dee3e4;
}

.login-form input[type="text"],
.login-form input[type="email"] {
  width: 220px;
  margin-bottom: 19px;
}

.login-form input[name="login"] {
  margin-left: 80px;
  margin-right: 20px;
}

.login-form input[type="email"] {
  margin-right: 80px;
}

.login-form textarea {
  width: 460px;
  margin-bottom: 37px;
  margin-left: 80px;
}

.modal-close {
  cursor: pointer;
  font-size: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 22px;
  height: 22px;
  border: none;
  padding: 0;
  background-image: url("../img/form-2.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.modal-write-us .button {
  padding: 10px 199px;
}

/* Стили каталога */
/* Header styles */

.header-navigation-list .cart-full,
.header-navigation-list .marks-full {
  background-color: #ee3643;
  padding: 12px 25px;
  padding-left: 50px;
}

.user-navigation .profile:hover,
.user-navigation .profile:focus{
  color: #000000;
}

.user-navigation .profile:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation .account {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-navigation .account:active {
  color: rgba(50, 66, 92, 0.3);
}

.profile {
  position: relative;
  display: block;
  width: 181px;
  padding: 12px 47px;
  padding-right: 70px;
  margin-left: -17px;
  background-color: #ffffff;
  margin-bottom: 7px;
}

.profile-icon {
  position: absolute;
  top: 13px;
  left: 13px;
}

.exit {
  position: absolute;
  top: 13px;
  right: 10px;
}
.exit:hover path,
.profile-icon:hover path {
  fill: #32425c;
}

.exit:active path,
.profile-icon:active path {
  fill: #c5c5c5;
}

.orders {
  position: relative;
  margin-right: 33px;
}

.orders::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 90px;
  width: 5px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425c;
}

/* Main styles */

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin: 0;
  margin-left: 15px;
  padding: 17px 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 41px;
}

.breadcrumbs li::before {
  content: "";

  position: absolute;
  top: 7px;
  left: -25px;
  width: 9px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs a,
.breadcrumbs span {
  font-family: "PT Sans", "Arial Black", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.breadcrambs-home::before {
  display: none;
}

.breadcrumbs-image {
  position: absolute;
  top: -6px;
  left: -17px;
  width: 15px;
  height: 15px;

  background-image: url("../img/icon-home.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-title {
  width: 882px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  background-color: #f2f6f8;
  text-transform: uppercase;

  margin: 0;
  padding: 30px 29px;
  margin-bottom: 20px;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 700px;
  min-height: 1142px;
}

/* Фильтры */

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 220px;
}

.filter fieldset {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.filter fieldset:last-of-type {
  border-bottom: none;
  margin-bottom: 59px;
}

.filter-title,
.sorting {
  font-family: "PT Sans", "Arial Black", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #f7f3ec;
}

.filter-title {
  padding: 10px 18px;
}

.filter-range {
  width: 220px;
  text-transform: uppercase;
}

.price-controls {
  position: relative;
  height: 38px;
  margin-bottom: 25px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 105px;
  width: 10px;
  height: 1px;
  background-color: #000000;
}

input[type="text"] {
  width: 95px;
  padding: 10px 0;
  text-align: center;
}

input[name="min-price"] {
  margin-right: 25px;
}

.range-controls {
  position: relative;
  width: 180px;
  padding: 39px 20px;
  background-color: #f7f3ec;
  border-radius: 3px;

  margin-bottom: 9px;
}

.range-controls .scale {
  width: 180px;
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #00ca74;
}

.range-toggle {
  position: absolute;
  top: 30px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 9%;
}

.range-toggle-max {
  left: 73%;
}

.filter-legend h3 {
  font-family: "PT Sans", "Arial Black", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 13px 0;
}

.filter ul,
input[type="text"] {
  font-family: "PT Sans", "Arial Black", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;

  list-style: none;
}

.filter ul {
  margin: 0;
  padding: 0;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -34px;
  top: -2px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  left: -34px;
  top: -2px;

  width: 27px;
  height: 24px;

  background-image: url("../img/checkbox-on.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -36px;
  top: -3px;

  width: 17px;
  height: 17px;

  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  left: -28px;
  top: 5px;

  width: 9px;
  height: 9px;

  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-input-checkbox:disabled + label {
  opacity: 0.4;
  cursor: not-allowed;
}

.filter-input-checkbox + label:hover::before {
  background-image: url("../img/checkbox-off-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled + label::before {
  background-image: url("../img/checkbox-off-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label:hover::after {
  background-image: url("../img/checkbox-on-hover.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label:disabled::after {
  background-image: url("../img/checkbox-on-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.filter-input-radio + label:hover::before {
  border-color: #b5b5b5;
}

.filter-input-radio + label:disabled::before {
  border-color: #b5b5b5;
  opacity: 0.3;
}

.filter-input-radio:checked + label:hover::after {
  background-color: #b5b5b5;
}

.filter-input-radio:checked + label:disabled::after {
  background-color: #b5b5b5;
  opacity: 0.3;
}

.filter input[type="text"] {
  font-size: 17px;
  line-height: 18px;

  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
}

.filter-button {
  font-family: "PT Sans", "Arial Black", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  padding: 9px 38px;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #ffffff;
  border: 1px solid #bdc6ca;
}

.filter-button:active {
  border: 1px solid #ee3643;
}

/* Сортировка */

.main-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin: 0;
  padding: 0;
}

.sorting {
  display: block;
  margin-left: 20px;
  width: 682px;
  padding-left: 18px
}

.sorting-of-products {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  padding: 10px 0;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
  margin: 0;
  margin-left: 140px;
  list-style: none;
}

.sorting-item {
  margin-left: 70px;

}

.sorting-list a {
  color: rgba(0, 0, 0, 0.3);

  -webkit-text-decoration-line: underline;

  text-decoration-line: underline;
  -webkit-text-decoration-style: dotted;
  text-decoration-style: dotted;
  -webkit-text-decoration-color: #ee3643;
  text-decoration-color: #ee3643;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: rgba(0, 0, 0, 1);

  -webkit-text-decoration-line: underline;

  text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
  -webkit-text-decoration-color: #ee3643;
  text-decoration-color: #ee3643;
}

.sorting-current {
  color: #ee3643;
}

a.arrow {
  font-size: 0;
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
}

.arrow::before {
  display: inline-block;
  content: "";
  border: 10px solid rgba(0, 0, 0, 0.3);
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
  vertical-align: middle;
}

.arrow-up::before {
  border-top: 0;

  margin-left: 33px;
}

.arrow-down::before {
  border-bottom: 0;
}

.arrow:hover::before,
.arrow:focus::before {
  border-color: rgba(0, 0, 0, 1);
  border-right-color: transparent;
  border-left-color: transparent;
}

.arrow:active::before,
.arrow-current::before,
.arrow-current:hover::before,
.arrow-current:focus::before {
  border-color: #ee3643;
  border-right-color: transparent;
  border-left-color: transparent;
}

/* Каталог */

.catalog-list,
.pagination-list {
  list-style: none;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 700px;
  min-height: 994px;

  margin: 20px auto;
  margin-bottom: 35px;
  padding: 0;
  padding-left: 20px;
}

/* Пагинация */

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-width: 284px;
  min-height: 38px;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-bottom: 60px;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item a {
  display: block;
  min-width: 38px;

  text-align: center;

  font-family: "PT Sans", "Arial Black", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;

  padding: 9px;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination-item:last-child a {
  padding: 9px 30px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

.pagination-item-current a {
  padding: 10px;
  border: none;
  color: #ffffff;
  background-color: #ee3643;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  border: none;
  background-color: #ee3643;
}

/* Статья */

.article-of-product {
  width: 100%;
  background-color: #f2f6f8;
  padding-top: 65px;
  padding-bottom: 67px;
}

.article-of-product p,
.article-of-product h2 {
  margin: 0;
  padding: 0;
}

.article-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 940px;
  margin: 0 auto;
}

.article-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.article-wrapper .article-title {
  margin-bottom: 27px;
}

.article-information {
  font-family: "PT Sans", "Arial Black", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

/* Модальное окно каталог */

.modal-product-to-basket {
  display: none;
  width: 620px;
  top: 61%;
  left: 50%;
  padding-top: 70px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 7px solid #ff5357;
  -webkit-box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.product-to-basket {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  margin-left: 180px;
  margin-bottom: 63px;
}

.modal-coloring {
  width: 460px;
  background-color: #f1f1f1;
  padding: 37px 80px;
}

.product-to-basket::before {
  position: absolute;
  content: "";
  top: 55px;
  left: 80px;
  width: 66px;
  height: 66px;
  background-image: url("../img/form-1.svg");
  background-color: transparent;
  background-repeat: no-repeat;
}

.modal-product-to-basket .button {
  padding: 10px 59px;
  margin-right: 20px;
}

.modal-product-to-basket .button-continue {
  background-color: #ffffff;
  color:#000000;
  padding: 10px 46px;
  margin-right: 0;
}
